
footer {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 100%;
    text-align: center;
    color: darkslategrey;
    bottom: 0px; 
}

body {
    font-family: Courier New;
    background-color: lightgray;
    color: black;
    overflow-x: hidden;
    margin-left: 0px;
} 

/*scrollbar wegdoen maar wel nog kunnen scrollen*/
::-webkit-scrollbar {
    display: none;
}

/*NAVIGATIEBALK*/
nav {
    width: 100vw;
    background: #02182B;
    margin-left: 0px;
    margin-top: -8px;
}

.UnorderdList {
    padding: 0%;
    margin: 0%;
}

.Balk {
    list-style: none;
    float: left;
    flex-wrap: wrap;
    padding: 5px 0px;
}

.Balk:hover {
    background-color: #4c6085;
}

.Balk a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    border: none;
    font-size: 20px;
    height: 40px;
    line-height: 40px;
}

#BALK {
    background: none;
    color: white;
    font-size: 20px;
    display: block;
    text-align: center;
    text-decoration: none;
    border: none;
    height: 40px;
    line-height: 40px;
    padding: 0%;
    font-family: Courier New;
}

/*DROPDOWN BUTTON*/
  
/* The container <div> - needed to position the dropdown content */
li.dropdown {
    display: inline-block;
    padding: 5px 0px;
}

.dropdown:hover {
    background-color: #4c6085;
}
  
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 0px;
    box-shadow: 10px 10px 5px grey;
    margin-top: 45px;
    z-index: 1; /*ervoor zorgen dat je de dropdown-content ook kan openen wanneer er geen text op de pagina staat*/
}
  
/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
    box-shadow: 10px 10px 5px grey;
}
  
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/*EINDE DROPDOWN BUTTON*/

/* ZOEKBALK */
nav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 9px;
    font-size: 17px;
    width: 25%;
    border-radius: 15px;
}

/* Stomme marker naast zoekbalk wegdoen */
li::marker { 
    content: "";
}

/*ZOEKBALK-KNOP*/
.search-button {
    border-radius: 15px;
    position: absolute;
    margin-left: 18.3%;
    margin-top: 12px;
    width: 5%;
    background-color: lightgray;
    border-color: black;
    border-width: 2.5px;
    height: 25px;
}

.search-button:hover {
    cursor: pointer;
}

.search-button:active {
    background: darkgray;
}

.search-icon {
    height: 150%;
    margin: -10px;
}

/*EINDE ZOEKBALK-KNOP*/
/*EINDE ZOEKBALK*/
/*EINDE NAVIGATIEBALK*/

/*BEGIN MAIN*/

.Text {
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}

.Image {
    width: 500px;
    margin: 15px 100px;
    float: right;
}

/*AboutUS*/

.Titel {
    text-align: center;
}

@media only screen and (max-width: 600px) {
    body {
      font-size: small;
      display: flex;
      flex-direction: column;
    }
    nav {
        height: 160px;
    }
    .Balk {
        width: 31.3%;
        padding-right: 1%;
        padding-left: 1%;
    }
    .Balk a {
        width: 100%;
        font-size: medium;
    }
    li.dropdown{
        padding-right: 1%;
        padding-left: 1%;
    }
    .dropdown {
        width: 31.3%;
    }
    #BALK {
        width: 100%;
        font-size: medium;
    }
    .dropdown-content {
        width: 25%;
        margin-left: -1%;
    }
    .dropdown-content a:hover {
        height: 40px;
        width: 100%;
        margin-left: -10%;
        font-size: 6vw;
    }
    #zoekbalk {
        width: 75%;
        float: left;
        margin-left: 4%;
    }
    nav input[type=text] {
        margin-right: 5%;
        width:90%;
    }
    .search-button {
        margin-left: 73%;
        width: 18%;
    }
    main {
        width: 100%;
    }
    .Text {
        font-size: medium;
    }
    .Image {
        width: 90%;
        margin-left: 5%;
        float: left;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    nav {
        height: 100px;
    }
    .Balk {
        width: 24%;
        padding-right: 1%;
    }
    .Balk a {
        width: 100%;
    }
    li.dropdown {
        padding-right: 1%;
    }
    .dropdown {
        width: 24%;
        padding-right: 1%;
    }
    #BALK {
        width: 100%;
    }
    .dropdown-content {
        width: 25%;
        font-size: 2vw;
    }
    .dropdown-content a {
        font-size: large;
    }
    .dropdown-content a:hover {
        height: 50px;
        width: 100%;
        margin-left: -5%;
        font-size: 5vw;
    }
    #zoekbalk {
        width: 49%;
        float: right;
        margin-right: 1%;
    }
    nav input[type=text] {
        padding: 3px;
        margin-top: 6px;
        margin-right: 5%;
        width:90%;
        height: 30px;
        border-radius: 30px;
    }
    .search-button {
        margin-left: 35%;
        margin-top: 12px;
        width: 10%;
    }
    .Text {
        font-size: 17pt;
    }
    #text {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
        margin-top: 50px;
    }
}

@media only screen and (min-width: 1025px) {
    nav {
        height: 75px;
    }
    main {
        margin: 0px 75px;
    }
    .Balk {
        width: 12%;
    }
    .Balk a {
        width: 100%;
        height: 50px;
        padding-left: 0.5%;
        padding-right: 0.5%;
        padding-top: 15px;
    }
    #BALK {
        width: 100%;
        height: 50px;
        padding-top: 15px;
    }
    #BALK a {
        padding: 0px 5px;
    }
    .dropdown {
        width: 12.5%;
        height: 65px;
    }
    .dropdown-content {
        width: 12.5%;
        margin-top: 70px;
    }
    .dropdown-content a {
        height: 30px;
        font-size: larger;
    }
    .dropdown-content a:hover {
        height: 50px;
        width: 100%;
        margin-left: -10%;
        font-size: 3vw;
    }
    #zoekbalk {
        width: 27%;
        float: right;
        padding-top: 15px;
    }
    nav input[type=text] {
        margin-right: 5%;
        width:90%;
    }
    .search-button {
        margin-left: 20%;
        width: 5%;
    }
    .Text {
        font-size: x-large;
    }
    #text {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
        margin-top: 50px;
    }
}

@media only screen and (min-width: 1440px) {
    
    .dropdown-content a {
        font-size: x-large;
    }
    .dropdown-content a:hover {
        width: 100%;
    }
    #zoekbalk {
        padding-top: 10px;
    }
    nav input[type=text] {
        padding: 10px;
        border-radius: 20px;
    }
    .search-button {
        margin-top: 16.5px;
    }
    .Titel {
        font-size: 30pt;
    }
    .Text {
        font-size: xx-large;
    }
}